boto==2.49.0
boto3==1.34.10
botocore==1.34.10
ipykernel==6.28.0
ipython==8.19.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
numpy==1.26.2
pandas==2.1.4
psycopg2-binary==2.9.9
requests==2.31.0
scipy==1.11.1
seaborn==0.12.2
urllib3==1.26.18
zipp==3.17.0
zope.interface==6.1
